[user]
#user is used in folder descriptions
user=      minqiang
username=  Zhou;Minqiang
useremail= minqiang.zhou@bira-iasb.oma.be

### the first one you have all the input description
# [instrument@location]
# data = data folder 
# barcos = folder ### the folder of the barcos file <only available in BIRA system>
# latitude [-90,90]
# longitude [-180,180]
# atl= [m a.s.l.]
# pro='??'  ##[the 2 character name for the site(abbrevation name)]
# spectype = 'ingaas' # the spectype used to retrieval; if you have more than one type, then spectype =  'ingaas' , 'insb ' , ....
# specfmt=%%Y%%m%%d # the date format in the spectra name before the dot  for example 20190101ingaas.1
# i2s_temp = i2s_bruker125_xianghe.in  ## i2s input template
# ifgtype = 20160101, AC; 20190531, DC  ## AC or DC type of iterfergram
# tcconsite=False ## standard TCCON site or not
# i2sfmt = xh%%Y%%m%%dsaebaa ## the spectra name after i2s
# nus=3800.0 ## the start wavenumber in the spectra after i2s
# nue=11000.0 ## the end wavenumber in the spectra after i2s
# pressure = 20120101, Meteo/P;  ## the pressure sensors in the barcos file
# tcorr = 0  ## the defualt time correction in seconds, if the site use UTC;  if the local PC time is local time (e.g. +8hours UTC), then tcorr = -3600*8

[bruker125hr@xianghe] 
data=/bira-iasb/projects/FTIR/data/bruker125HR/xianghe/archive/%%Y/%%m/%%d/ndacc
barcos=/bira-iasb/projects/FTIR/data/bruker125HR/xianghe/barcos.pro/%%Y
lat=39.798  
lon=116.958  
alt=50    
pro='xh'  
spectype = 'f7'
specfmt = %%Y%%m%%d
i2s_temp = i2s_bruker125_xianghe.in
### on 31-May-2019, we changed the spectra from AC to AC+DC at Xianghe
ifgtype = 20160101, AC; 20190531, DC
tcconsite=False
i2sfmt = xh%%Y%%m%%dsaebaa
nus=3800.0
nue=11000.0
windows=5
pressure = 20120101, Meteo/P
tcorr = 0  

[bruker125hr@stdenis]
data=/bira-iasb/projects/FTIR/data/bruker125HR/stdenis/archive/%%Y/%%m/%%d/tccon
barcos=/bira-iasb/projects/FTIR/data/bruker125HR/stdenis/barcos.pro/%%Y
lat=-20.901
lon=55.485
alt=85
pro='ra'
spectype = 'tccon_dual'
specfmt = %%Y%%m%%d
i2s_temp = i2s_bruker125_stdenis.in
ifgtype =20110916, DC
tcconsite=True
i2sfmt = ra%%Y%%m%%dsarraa
nus=3800.0
nue=11000.0
pressure = 20110916, Meteo/P; 20160207, Meteo/P_WXT510; 20180310, Meteo/P
tcorr = 0


[bruker125hr@maido]
#data=/bira-iasb/projects/FTIR/data/bruker125HR/maido/archive/%%Y/%%m/%%d/tccon
data=/bira-iasb/projects/FTIR/data/bruker125HR/maido/archive/%%Y/%%m/%%d/ndacc
barcos=/bira-iasb/projects/FTIR/data/bruker125HR/maido/barcos.pro/%%Y
lat=-21.079
lon=55.384
alt=2155
pro='ma'
#spectype = 'tccon_ingaas'
spectype = 'f7'
specfmt = %%Y%%m%%d
i2s_temp = i2s_bruker125_maido.in
ifgtype =20120101, AC
#ifgtype =20120101, DC
tcconsite=False
i2sfmt = ma%%Y%%m%%dsarraa
nus=3800.0
nue=11000.0
pressure = 20120101, Meteo/P
windows=5
tcorr = 0

## this section is to filter out some bad spectra based on the data from barocs file; for example the tccon data at stdenis with a SNR < 50 are filtered out!
[spectrum.filter.barcos]
bruker125hr@stdenis = [(lambda x: x[1]<150,'SNR'), (lambda x: x<100,'Pout')]
bruker125hr@maido = [(lambda x: x<1500,'SNR'), (lambda x: x<100,'Pout')]
bruker125hr@xianghe = [(lambda x: x<150,'SNR'), (lambda x: x<100,'Pout')]


[ggg2020.config]
### the gggpath 
gggpath=/bira-iasb/projects/FTIR/retrievals/operational/tools/ggg2020
src=/bira-iasb/projects/FTIR/retrievals/operational/tools/ggg2020/src
bin=/bira-iasb/projects/FTIR/retrievals/operational/tools/ggg2020/bin


mod_dirnm=/bira-iasb/projects/FTIR/retrievals/operational/tools/ggg2020/models/gnd/models.men
data_part_list=/bira-iasb/projects/FTIR/retrievals/operational/tools/ggg2020/config/data_part.lst
bad_list_log=/bira-iasb/projects/FTIR/retrievals/operational/tools/ggg2020/badlistlog
run_log_dirnm=/bira-iasb/projects/FTIR/retrievals/operational/tools/ggg2020/runlogs/gnd/runlogs.men

### i2s_template folder
i2s_temp_folder = /bira-iasb/projects/FTIR/retrievals/operational/tools/ggg2020/template_i2s

### i2s and mod output folders
### the default i2s spectra output is /bira-iasb/projects/FTIR/retrievals/data/i2s/site/instrument/spectype
### the default mod files is gggpath/models/gnd/
i2spath = /bira-iasb/projects/FTIR/retrievals/data/
modpath = /bira-iasb/projects/FTIR/retrievals/data/

[i2s.input]
mnymxy_ac ='-1.00 -1.00   Min igram Thresh (Master, Slave) \n+1.00 +1.00   Max igram Thresh (Master, Slave)'
mnymxy_dc ='0.005 0.005   Min igram Thresh (Master, Slave) \n1.000 1.000   Max igram Thresh (Master, Slave)'


# [output]
# spctra=None


[packages]
folder.extra = /bira-iasb/projects/FTIR/retrievals/operational/tools/packages
 
